{{#slideShow}}
<article id="{{name}}" class="{{style}}" data-x="{{x}}" data-y="{{y}}" {{#hasScale}}data-scale="{{scale}}"{{/hasScale}}>
	{{#rootItems}}
	<ul>
		<h2>{{text}}</h2>
		{{#subItems}}
			<li>{{text}}</li>
		{{/subItems}}
	</ul>
	{{/rootItems}}
	{{^rootItems}}
		<h1>{{title}}</h1>
	{{/rootItems}}
</article>
{{/slideShow}}