<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=1024"/>
    <title>{{title}}</title>
    <meta name="description" content="{{description}}"/>
    <meta name="author" content="Kim Kerger"/>
    <link href="css/googlefonts.css" rel="stylesheet" />
    <link href="css/impress-demo.css" rel="stylesheet"/>
	<link rel="shortcut icon" href="favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="css/slides.css"/>
    <link type="text/css" rel="stylesheet" href="css/titles.css"/>
  </head>
  <body>
    <div id="impress" class="impress-not-supported">

	<div class="fallback-message">
	  <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
	  <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser. Upcoming version 10 of Internet Explorer <i>should</i> also handle it.</p>
	</div>