<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>slide4j-example</display-name>
	<servlet>
		<display-name>slides4j</display-name>
		<servlet-name>slides4j</servlet-name>
		<servlet-class>be.gallifreyan.slides4j.example.ExampleSlideShowPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>slides4j</servlet-name>
		<url-pattern>/slideshow</url-pattern>
	</servlet-mapping>
</web-app>